In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
import string
import nltk
import warnings
%matplotlib inline

warnings.filterwarnings("ignore")

In [2]:
twitter_dataset = pd.read_csv("Twitter_Sentiments.csv")

In [3]:
twitter_dataset.head()

   Unnamed: 0  id  label                                              tweet
0           0   1      0   @user when a father is dysfunctional and is s...
1           1   2      0  @user @user thanks for #lyft credit i can't us...
2           2   3      0                                bihday your majesty
3           3   4      0  #model   i love u take with u all the time in ...
4           4   5      0             factsguide: society now    #motivation

In [4]:
#Save file
#twitter_dataset.to_csv('Twitter_Sentiments.csv')

In [5]:
twitter_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31962 entries, 0 to 31961
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  31962 non-null  int64
 1   id          31962 non-null  int64
 2   label       31962 non-null  int64
 3   tweet       31962 non-null  object
dtypes: int64(3), object(1)
memory usage: 998.9+ KB

# Preprocessing the dataset

In [6]:
def remove_pattern(input_txt,pattern):
    r = re.findall(pattern, input_txt)
    for word in r:
        input_txt = re.sub(word, "", input_txt)
    return input_txt

In [7]:
#ramove Twitter handles (@user)
twitter_dataset['clean_tweet'] = np.vectorize(remove_pattern)(twitter_dataset['tweet'], "@[\w]")

In [8]:
twitter_dataset.head()

,Unnamed: 0,id,label,tweet,clean_tweet
0,0,1,0,@user when a father is dysfunctional and is s...,ser when a father is dysfunctional and is so ...
1,1,2,0,@user @user thanks for #lyft credit i can't us...,ser ser thanks for #lyft credit i can't use ca...
2,2,3,0,bihday your majesty,bihday your majesty
3,3,4,0,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...
4,4,5,0,factsguide: society now #motivation,factsguide: society now #motivation

In [9]:
#ramove Twitter handles (@user)
twitter_dataset['clean_tweer'] = twitter_dataset['clean_tweet'].str.replace("[^a-zA-Z#]", " ")

In [10]:
twitter_dataset.head()

,Unnamed: 0,id,label,tweet,clean_tweet,clean_tweer
0,0,1,0,@user when a father is dysfunctional and is s...,ser when a father is dysfunctional and is so ...,ser when a father is dysfunctional and is so ...
1,1,2,0,@user @user thanks for #lyft credit i can't us...,ser ser thanks for #lyft credit i can't use ca...,ser ser thanks for #lyft credit i can t use ca...
2,2,3,0,bihday your majesty,bihday your majesty,bihday your majesty
3,3,4,0,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...
4,4,5,0,factsguide: society now #motivation,factsguide: society now #motivation,factsguide society now #motivation