In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
import string
import nltk
import warnings
%matplotlib inline

warnings.filterwarnings("ignore")

In [13]:
twitter_dataset = pd.read_csv("Twitter_Sentiments.csv")

In [14]:
twitter_dataset.head()

   Unnamed: 0  id  label                                              tweet
0           0   1      0   @user when a father is dysfunctional and is s...
1           1   2      0  @user @user thanks for #lyft credit i can't us...
2           2   3      0                                bihday your majesty
3           3   4      0  #model   i love u take with u all the time in ...
4           4   5      0             factsguide: society now    #motivation

In [15]:
#Save file
#twitter_dataset.to_csv('Twitter_Sentiments.csv')

In [16]:
twitter_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31962 entries, 0 to 31961
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  31962 non-null  int64
 1   id          31962 non-null  int64
 2   label       31962 non-null  int64
 3   tweet       31962 non-null  object
dtypes: int64(3), object(1)
memory usage: 998.9+ KB

# Preprocessing the dataset

In [17]:
def remove_pattern(input_txt,pattern):
    r = re.findall(pattern, input_txt)
    for word in r:
        input_txt = re.sub(word, "", input_txt)
    return input_txt

In [18]:
#ramove Twitter handles (@user)
twitter_dataset['clean_tweet'] = np.vectorize(remove_pattern)(twitter_dataset['tweet'], "@[\w]")

In [19]:
twitter_dataset.head()

,Unnamed: 0,id,label,tweet,clean_tweet
0,0,1,0,@user when a father is dysfunctional and is s...,ser when a father is dysfunctional and is so ...
1,1,2,0,@user @user thanks for #lyft credit i can't us...,ser ser thanks for #lyft credit i can't use ca...
2,2,3,0,bihday your majesty,bihday your majesty
3,3,4,0,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...
4,4,5,0,factsguide: society now #motivation,factsguide: society now #motivation

In [20]:
#ramove Twitter handles (@user)
twitter_dataset['clean_tweer'] = twitter_dataset['clean_tweet'].str.replace("[^a-zA-Z#]", " ")
twitter_dataset.head()

,Unnamed: 0,id,label,tweet,clean_tweet,clean_tweer
0,0,1,0,@user when a father is dysfunctional and is s...,ser when a father is dysfunctional and is so ...,ser when a father is dysfunctional and is so ...
1,1,2,0,@user @user thanks for #lyft credit i can't us...,ser ser thanks for #lyft credit i can't use ca...,ser ser thanks for #lyft credit i can t use ca...
2,2,3,0,bihday your majesty,bihday your majesty,bihday your majesty
3,3,4,0,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...
4,4,5,0,factsguide: society now #motivation,factsguide: society now #motivation,factsguide society now #motivation

In [21]:
twitter_dataset["clean_tweet"] = twitter_dataset["clean_tweet"].apply(lambda x: " ".join([w for w in x.split() if len(w)>3]))
twitter_dataset.head()

,Unnamed: 0,id,label,tweet,clean_tweet,clean_tweer
0,0,1,0,@user when a father is dysfunctional and is s...,when father dysfunctional selfish drags kids i...,ser when a father is dysfunctional and is so ...
1,1,2,0,@user @user thanks for #lyft credit i can't us...,thanks #lyft credit can't cause they don't off...,ser ser thanks for #lyft credit i can t use ca...
2,2,3,0,bihday your majesty,bihday your majesty,bihday your majesty
3,3,4,0,#model i love u take with u all the time in ...,#model love take with time urð±!!! ððð...,#model i love u take with u all the time in ...
4,4,5,0,factsguide: society now #motivation,factsguide: society #motivation,factsguide society now #motivation

In [22]:
tokenized_tweet = twitter_dataset['clean_tweet'].apply(lambda x: x.split())
tokenized_tweet.head()

0    [when, father, dysfunctional, selfish, drags, ...
1    [thanks, #lyft, credit, can't, cause, they, do...
2                              [bihday, your, majesty]
3    [#model, love, take, with, time, urð±!!!, ð...
4                  [factsguide:, society, #motivation]
Name: clean_tweet, dtype: object

In [23]:
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()

tokenized_tweet = tokenized_tweet.apply(lambda sentence: [stemmer.stem(word) for word in sentence])
tokenized_tweet.head()

0    [when, father, dysfunct, selfish, drag, kid, i...
1    [thank, #lyft, credit, can't, caus, they, don'...
2                              [bihday, your, majesti]
3    [#model, love, take, with, time, urð±!!!, ð...
4                       [factsguide:, societi, #motiv]
Name: clean_tweet, dtype: object

In [24]:
for i in range(len(tokenized_tweet)):
    tokenized_tweet[i] = " ".join(tokenized_tweet[i])
    
twitter_dataset['clean_tweet'] = tokenized_tweet
twitter_dataset.head()

,Unnamed: 0,id,label,tweet,clean_tweet,clean_tweer
0,0,1,0,@user when a father is dysfunctional and is s...,when father dysfunct selfish drag kid into dys...,ser when a father is dysfunctional and is so ...
1,1,2,0,@user @user thanks for #lyft credit i can't us...,thank #lyft credit can't caus they don't offer...,ser ser thanks for #lyft credit i can t use ca...
2,2,3,0,bihday your majesty,bihday your majesti,bihday your majesty
3,3,4,0,#model i love u take with u all the time in ...,#model love take with time urð±!!! ððð...,#model i love u take with u all the time in ...
4,4,5,0,factsguide: society now #motivation,factsguide: societi #motiv,factsguide society now #motivation

# Exploratory Data Analysis

In [4]:
conda install -c conda-forge wordcloud

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\ProgramData\Anaconda3

  added / updated specs:
    - wordcloud

Note: you may need to restart the kernel to use updated packages.


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2022.6.15  |       h5b45459_0         188 KB  conda-forge
    certifi-2022.6.15          |   py38haa244fe_0         155 KB  conda-forge
    conda-4.13.0               |   py38haa244fe_1        1016 KB  conda-forge
    openssl-1.1.1q             |       h8ffe710_0         5.8 MB  conda-forge
    wordcloud-1.8.2.2          |   py38h294d835_0         187 KB  conda-forge
    ------------------------------------------------------------

EnvironmentNotWritableError: The current user does not have write permissions to the target environment.
  environment location: C:\ProgramData\Anaconda3

                                           Total:         7.3 MB

The following NEW packages will be INSTALLED:

  wordcloud          conda-forge/win-64::wordcloud-1.8.2.2-py38h294d835_0

The following packages will be UPDATED:

  ca-certificates                      2021.10.8-h5b45459_0 --> 2022.6.15-h5b45459_0
  certifi                          2021.10.8-py38haa244fe_1 --> 2022.6.15-py38haa244fe_0
  conda                               4.11.0-py38haa244fe_2 --> 4.13.0-py38haa244fe_1
  openssl                                 1.1.1l-h8ffe710_0 --> 1.1.1q-h8ffe710_0



Downloading and Extracting Packages

ca-certificates-2022 | 188 KB    |            |   0%
ca-certificates-2022 | 188 KB    | 8          |   9%
ca-certificates-2022 | 188 KB    | ########5  |  85%
ca-certificates-2022 | 188 KB    | ########## | 100%

wordcloud-1.8.2.2    | 187 KB    |            |   0%
wordcloud-1.8.2.2    | 187 KB    | 8          |   9%
wordcloud-1.8.2.2    | 187 KB    | ########## | 100%
wordcloud-1.8.2.2    | 187 KB    | ########## | 100%

certifi-2022.6.15    | 155 KB    |            |   0%
certifi-2022.6.15    | 155 KB    | #          |  10%
certifi-2022.6.15    | 155 KB    | ########## | 100%
certifi-2022.6.15    | 155 KB    | ########## | 100%

conda-4.13.0         | 1016 KB   |            |   0%
conda-4.13.0         | 1016 KB   | 1          |   2%
conda-4.13.0         | 1016 KB   | ###4       |  35%
conda-4.13.0         | 1016 KB   | ######2    |  63%
conda-4.13.0         | 1016 KB   | ########9  |  90%
conda-4.13.0         | 1016 KB   | ########## | 100%

openssl-1.1.1q       | 5.8 MB    |            |   0%
openssl-1.1.1q       | 5.8 MB    |            |   0%
openssl-1.1.1q       | 5.8 MB    | 6          |   6%
openssl-1.1.1q       | 5.8 MB    | #1         |  11%
openssl-1.1.1q       | 5.8 MB    | #5         |  16%
openssl-1.1.1q       | 5.8 MB    | #9         |  20%
openssl-1.1.1q       | 5.8 MB    | ##4        |  24%
openssl-1.1.1q       | 5.8 MB    | ##9        |  29%
openssl-1.1.1q       | 5.8 MB    | ###2       |  33%
openssl-1.1.1q       | 5.8 MB    | ###9       |  39%
openssl-1.1.1q       | 5.8 MB    | ####3      |  44%
openssl-1.1.1q       | 5.8 MB    | ####7      |  48%
openssl-1.1.1q       | 5.8 MB    | #####2     |  53%
openssl-1.1.1q       | 5.8 MB    | #####7     |  58%
openssl-1.1.1q       | 5.8 MB    | ######2    |  63%
openssl-1.1.1q       | 5.8 MB    | ######7    |  68%
openssl-1.1.1q       | 5.8 MB    | #######3   |  74%
openssl-1.1.1q       | 5.8 MB    | #######8   |  79%
openssl-1.1.1q       | 5.8 MB    | ########4  |  85%
openssl-1.1.1q       | 5.8 MB    | ########9  |  90%
openssl-1.1.1q       | 5.8 MB    | #########5 |  95%
openssl-1.1.1q       | 5.8 MB    | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... failed

In [5]:
from wordcloud import Wordcloud

ImportError: cannot import name 'Wordcloud' from 'wordcloud' (C:\ProgramData\Anaconda3\lib\site-packages\wordcloud\__init__.py)

In [31]:
all_word = " ".join([sentence for sentence in twitter_dataset['clean_tweet']])

from wordcloud import Wordcloud
wordcloud = Wordcloud(width=800, height=500, random_state=42, max_font_size=100),generate(all_words)

#plot the graph
plt.figure(figsize=(15,8))
plt.imshow(wordcloud, interpolation='billinear')
plt.axis('off')
plt.show()

ModuleNotFoundError: No module named 'wordcloud'

In [6]:

import sys
print(sys.executable)

C:\ProgramData\Anaconda3\python.exe

In [11]:
C:/ProgramData/anaconda3/bin/python -m pip install wordcloud

SyntaxError: invalid syntax (<ipython-input-11-3893021b243c>, line 1)