In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
import string
import nltk
import warnings
%matplotlib inline

warnings.filterwarnings("ignore")

In [2]:
twitter_dataset = pd.read_csv("Twitter_Sentiments.csv")

In [3]:
twitter_dataset.head()

   Unnamed: 0  id  label                                              tweet
0           0   1      0   @user when a father is dysfunctional and is s...
1           1   2      0  @user @user thanks for #lyft credit i can't us...
2           2   3      0                                bihday your majesty
3           3   4      0  #model   i love u take with u all the time in ...
4           4   5      0             factsguide: society now    #motivation

In [4]:
#Save file
#twitter_dataset.to_csv('Twitter_Sentiments.csv')

In [5]:
twitter_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31962 entries, 0 to 31961
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  31962 non-null  int64
 1   id          31962 non-null  int64
 2   label       31962 non-null  int64
 3   tweet       31962 non-null  object
dtypes: int64(3), object(1)
memory usage: 998.9+ KB

# Preprocessing the dataset

In [6]:
def remove_pattern(input_txt,pattern):
    r = re.findall(pattern, input_txt)
    for word in r:
        input_txt = re.sub(word, "", input_txt)
    return input_txt

In [7]:
#ramove Twitter handles (@user)
twitter_dataset['clean_tweet'] = np.vectorize(remove_pattern)(twitter_dataset['tweet'], "@[\w]")

In [8]:
twitter_dataset.head()

,Unnamed: 0,id,label,tweet,clean_tweet
0,0,1,0,@user when a father is dysfunctional and is s...,ser when a father is dysfunctional and is so ...
1,1,2,0,@user @user thanks for #lyft credit i can't us...,ser ser thanks for #lyft credit i can't use ca...
2,2,3,0,bihday your majesty,bihday your majesty
3,3,4,0,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...
4,4,5,0,factsguide: society now #motivation,factsguide: society now #motivation

In [14]:
#ramove Twitter handles (@user)
twitter_dataset['clean_tweer'] = twitter_dataset['clean_tweet'].str.replace("[^a-zA-Z#]", " ")
twitter_dataset.head()

,Unnamed: 0,id,label,tweet,clean_tweet,clean_tweer
0,0,1,0,@user when a father is dysfunctional and is s...,ser when a father is dysfunctional and is so ...,ser when a father is dysfunctional and is so ...
1,1,2,0,@user @user thanks for #lyft credit i can't us...,ser ser thanks for #lyft credit i can't use ca...,ser ser thanks for #lyft credit i can t use ca...
2,2,3,0,bihday your majesty,bihday your majesty,bihday your majesty
3,3,4,0,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...
4,4,5,0,factsguide: society now #motivation,factsguide: society now #motivation,factsguide society now #motivation

In [16]:
twitter_dataset["clean_tweet"] = twitter_dataset["clean_tweet"].apply(lambda x: " ".join([w for w in x.split() if len(w)>3]))
twitter_dataset.head()

,Unnamed: 0,id,label,tweet,clean_tweet,clean_tweer
0,0,1,0,@user when a father is dysfunctional and is s...,when father dysfunctional selfish drags kids i...,ser when a father is dysfunctional and is so ...
1,1,2,0,@user @user thanks for #lyft credit i can't us...,thanks #lyft credit can't cause they don't off...,ser ser thanks for #lyft credit i can t use ca...
2,2,3,0,bihday your majesty,bihday your majesty,bihday your majesty
3,3,4,0,#model i love u take with u all the time in ...,#model love take with time urð±!!! ððð...,#model i love u take with u all the time in ...
4,4,5,0,factsguide: society now #motivation,factsguide: society #motivation,factsguide society now #motivation

In [17]:
tokenized_tweet = twitter_dataset['clean_tweet'].apply(lambda x: x.split())
tokenized_tweet.head()

0    [when, father, dysfunctional, selfish, drags, ...
1    [thanks, #lyft, credit, can't, cause, they, do...
2                              [bihday, your, majesty]
3    [#model, love, take, with, time, urð±!!!, ð...
4                  [factsguide:, society, #motivation]
Name: clean_tweet, dtype: object

In [19]:
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()

tokenized_tweet = tokenized_tweet.apply(lambda sentence: [stemmer.stem(word) for word in sentence])
tokenized_tweet.head()

0    [when, father, dysfunct, selfish, drag, kid, i...
1    [thank, #lyft, credit, can't, caus, they, don'...
2                              [bihday, your, majesti]
3    [#model, love, take, with, time, urð±!!!, ð...
4                       [factsguide:, societi, #motiv]
Name: clean_tweet, dtype: object

In [21]:
for i in range(len(tokenized_tweet)):
    tokenized_tweet[i] = " ".join(tokenized_tweet[i])
    
twitter_dataset['clean_tweet'] = tokenized_tweet
twitter_dataset.head()

,Unnamed: 0,id,label,tweet,clean_tweet,clean_tweer
0,0,1,0,@user when a father is dysfunctional and is s...,when father dysfunct selfish drag kid into dys...,ser when a father is dysfunctional and is so ...
1,1,2,0,@user @user thanks for #lyft credit i can't us...,thank #lyft credit can't caus they don't offer...,ser ser thanks for #lyft credit i can t use ca...
2,2,3,0,bihday your majesty,bihday your majesti,bihday your majesty
3,3,4,0,#model i love u take with u all the time in ...,#model love take with time urð±!!! ððð...,#model i love u take with u all the time in ...
4,4,5,0,factsguide: society now #motivation,factsguide: societi #motiv,factsguide society now #motivation

# Exploratory Data Analysis

In [3]:
!pip install wordcloud

Requirement already satisfied: wordcloud in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (1.8.2.2)
Requirement already satisfied: pillow in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from wordcloud) (9.0.1)
Requirement already satisfied: matplotlib in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from wordcloud) (3.5.1)
Requirement already satisfied: numpy>=1.6.1 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from wordcloud) (1.22.3)
Requirement already satisfied: cycler>=0.10 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from matplotlib->wordcloud) (0.11.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from matplotlib->wordcloud) (3.0.7)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from matplotlib->wordcloud) (1.4.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\user\appdata\roaming\python\python310\site-packages (from matplotlib->wordcloud) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from matplotlib->wordcloud) (4.31.2)
Requirement already satisfied: packaging>=20.0 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from matplotlib->wordcloud) (21.3)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.7->matplotlib->wordcloud) (1.16.0)

[notice] A new release of pip available: 22.1.2 -> 22.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
from wordcloud import Wordcloud

ImportError: cannot import name 'Wordcloud' from 'wordcloud' (C:\ProgramData\Anaconda3\lib\site-packages\wordcloud\__init__.py)

In [31]:
all_word = " ".join([sentence for sentence in twitter_dataset['clean_tweet']])

from wordcloud import Wordcloud
wordcloud = Wordcloud(width=800, height=500, random_state=42, max_font_size=100),generate(all_words)

#plot the graph
plt.figure(figsize=(15,8))
plt.imshow(wordcloud, interpolation='billinear')
plt.axis('off')
plt.show()

ModuleNotFoundError: No module named 'wordcloud'